<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2><%= @todo.title %></h2>
</div>
<p><%= @todo.notes %></p>
<br>
<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
